.header
    .logo Sanatan K. Chaudhary
    nav
        a(href="#about").active About
        a(href="#projects") Projects
        a(href="#skills") Skills
        a(href="#") articles
        a(href="#") contact
    a(href="#", target="_blank") Go to my Blog
    .mobile-nav-toggle
        span.before
        span.main
        span.after