#skills
    .flex.flex--span
        .col-1
            p.main ...and sometimes
            hr.some
            h2.lead-text try to develope my skills

        .col-1
            p.main My Skills
            hr
            .skill-graph
