.inherit-projects#articles
    .flex.flex--span
        .col-1
            .project 
                img(src="https://placeholdit.imgix.net/~text?txtsize=80&txt=My+articless&w=300&h=250")
        .col-1
            p ... and, and, and
            hr
            h2.lead-text write some could-be-stupid articles.
            a(href="#", target="_blank").cta Go to my blog