#skills
    .flex.flex--span
        .col-1
            p.main ...and sometimes
            hr.some
            h2.lead-text try to develop my skills

        .col-1
            img(src="/assets/img/skills.png").skill-graph
