#projects
    .flex.flex--span
        .col-1
            .project 
                img(src="/assets/img/my_project.png")
        .col-1
            p Apart from attending <span>boring</span> lectures
            hr
            h2.lead-text I try to make beautiful Web apps
            a(href="#", target="_blank").cta see my projects
